@keyframes bounce {
    from,
    to {
        bottom: 200px;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 400px;
        animation-timing-function: ease-in;
    }
}
.ball1 {
    position:absolute;
    width: 90px;
    height: 90px;
    left: 200px;
    background: red;
    border-radius: 50px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
.ball2 {
    position:absolute;
    width: 90px;
    height: 90px;
    le
