/* 메뉴 디자인 */
#menu{
    list-style: none;
    text-align: center;
    /* 줄만들기 */
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 10px 0;
}
/* 카테고리 색상 */
#menu li{
    display: inline;
    margin: 0 10px;
}
#menu a{
    text-decoration: none;
    color: #000;
}
#menu a:hover{
    text-decoration: underline;
}
footer{position: fixed; left: 50%; bottom: 0px; height: 5%; width: 100%;}
/* 3개 붙히기 */
#main{float: left;}
#right{float: left;}
#left{float: left;}
/* 카테고리 디자인 */
#left>ul{background-color: gray; list-style-type: none; margin: 0; padding: 0; width: 200px;}
#left>ul>li{border-left: 6px solid green; border-bottom: 1px solid black;text-decoration-color: white; }
#left>ul>li>a:hover{background-color: red;}
#left>ul>li>a:visited{color: white;}
#left>ul>li>a:link{color: white;}
#left>ul>li>a{text-decoration-line: none; display: block;}
#left>h4{margin: 0px;}
#left>li{display: block;}
